# ===== Global =====
node_modules/
.env
.env.*
.DS_Store

# ===== Expo / React Native =====
.expo/
web-build/
dist/

# ===== Logs =====
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ===== OS =====
Thumbs.db

# ===== Build outputs =====
build/
